.border_btn08 {
    position: relative;
    text-decoration: none;
    text-align: center;
    width: 100%;
    max-width: 350px; /* ボタンの最大幅 */
    display: block;
    margin-left: auto;
    margin-right: auto ;
    top: 65%;
}
  
  .border_btn08::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 4px;
    width: 100%;
    height: 100%;
    -moz-border-radius: 100vh;
    -webkit-border-radius: 100vh;
    border-radius: 100vh;
    background-color: #4D9BC1; /* 後ろの背景色 */
  }
  
  .border_btn08 span {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold; /* 文字の太さ */
    border-radius: 100vh;
    border: solid 1px #4D9BC1; /* 線の色 */
    color: #4D9BC1; /* 文字色 */
    padding: 1em 2em;
    background-color: #FFF; /* 背景色 */
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  /* マウスオーバーした際のデザイン */
  .border_btn08:hover span {
    background-color: #FFFF00; /* 背景色 */
    transform: translate(4px, 4px);
    transition: all 0.3s ease-in-out;
  }