@charset "utf-8";

.header {
  width: 100%;
  display: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-navitem select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.header-navlist {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.header-navitem {
  margin-right: 15px;
  box-sizing: border-box;
}

.header-navitem>a {
  display: flex;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.header-navitem>a:hover {
  border-bottom: 1px solid black;
}

.header-logo {
  background-color: red;
  color: white;
  text-align: center;
}

.drawer_hidden {
  display: none;
}

.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}

.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #fff;
  transition: .5s;
}

#drawer_input:checked ~ .nav_content {
  left: 0;/* メニューを画面に入れる */
}

.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: red;
    color: white;
    border: solid 2px black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

body {
  margin-bottom: 100px;
}

.footer {
  color: gray;
  background: pink;
  padding: 30px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.footer a {
  color: gray;
  text-decoration: none;
}

.footer li a:hover {
  text-decoration: underline;
}


.footer .wrap {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0 0 0;
}

.footer .wrap h4 {
  margin: 0 0 10px 0;
  padding: 0;
  border-bottom: 1px #c4c4c4 solid;
}

.footer .wrap p {
  margin: 0;
  padding: 0 0 20px 0;
}

.footer .wrap .inbox {
  width: 24%;
}

.footer .wrap .inbox ul {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
}

@media only screen and (max-width: 500px) {
  .footer .wrap {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .footer .wrap h4 {
    border: none;
  }

  .footer .wrap .inbox {
    width: 100%;
  }

  .footer .wrap .inbox ul {
    border-top: 1px #c4c4c4 solid;
  }

  .footer .wrap .inbox ul li a {
    display: block;
    padding: 5px 15px;
    border-bottom: 1px #c4c4c4 solid;
  }
}

/*tableのcssここからーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  */
table {
  width: 90%;
  /*表 (<table>) の中のセルが境界を共有するか分離するかを設定  */
  border-collapse: separate;
  /*内の隣接するセルの境界間の距離を設定  */
  border-spacing: 0;
}

table th:first-child {
  border-radius: 5px 0 0 0;
}

table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table td {
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top: none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

table td:last-child {
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

/* a{
	text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;

}
 */
/*tabeleのcssここまでーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  */