@charset "utf-8";

/*企業側共通のcss↓ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  */
.back_home{
  width: 100%;
  margin: 0 auto; /* 中央寄せ */
  max-width: 780px;
  text-align: right; /* 右寄せ */
}

.back_home .backhome {
  background-color: red;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.registration_button{
  width: 80%;
  margin: 0 auto; /* 中央寄せ */
  max-width: 500px;
  text-align: right; /* 右寄せ */
}

.registration_button .register_button{
  background-color: blue;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.com_title {
  width: 80%;
  margin: 0 auto;
  max-width: 750px;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 30px;
}

.com_title select {
    width: 300px;
    height: 40px;
    margin-left: 10px;
}

/*送信↓ーーーーーーーー */
.inq_sending{
  width: 80%;
  margin: 0 auto; /* 中央寄せ */
  max-width: 500px;
  padding: 30px;
}

.inq_sending .sending{
  background-color: red;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.inq_sending input[type="submit"] {
  width: 200px;
  height: 40px;
}

/*次に進む↓ーーーーーーーー */
.go_next{
  width: 80%;
  margin: 0 auto; /* 中央寄せ */
  max-width: 500px;
  text-align: right; /* 右寄せ */
}

.go_next .gonext{
  background-color: red;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/*ボタン↓ーーーーーーーー */
.reg_button{
  width: 80%;
  margin: 0 auto; /* 中央寄せ */
  max-width: 500px;
  text-align: right; /* 右寄せ */
}

.reg_button .regbutton{
  background-color: red;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/*トップページ(企業)のcss↓ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  */
.content .menu .image{
	width: 360px;
}

.content .menu .com_button {
  width: 80%;
  max-width: 500px;
  text-align: left;
  font: inherit;
}

.content .menu .com_button .combutton {
  background-color: red;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
}

.content {
  display: flex;
  width: 100%;
}

.content .main {
    text-align: right;
	font-size : 30px;
}

.content .main .com_title .com_top{
    white-space: nowrap;
    text-align: center;
    margin-left: -10px;
    font-size: 60px;
}

.content .main .com_info {
    margin-bottom: 0;
}

.content .main .user_info {
    border: 2px solid #000;
    padding: 10px;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.content .main .com_info .user_information{
	font-size: 40px;
	text-align: left;
}

.content .main .user_info .com_user {
    font-size: 25px;
    margin-right: 10px;
}

/*トップページ(管理者)のcss↓ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  */
.content .main .admin_title .admin_top{
	white-space: nowrap;
    text-align: center;
    margin-left: -10px;
    font-size: 60px;
}

/*ログインのcss↓ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  */
.log{
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.log .login{
  font-size: 30px;
}

.log input[type="text"] {
  width: 300px;
  height: 40px;
}

.log input[type="email"] {
  width: 300px;
  height: 40px;
}

.logged{
	display: flex;
	align-items: center;
	justify-content: center;
}

.logged .logged_in{
	margin-left: 8px;
}

.com_login,.admin_log {
    display: flex;
    justify-content: center;
}

.com_login{
	margin-left: 70px;
}

.admin_log {
    margin-left: 70px;
}

.new_acount {
	margin-left: 35px;
    text-align: center;
    position: relative;
}

.log_error{
	width: 80%;
  	margin: 0 auto;
  	max-width: 500px;
  	font-size : 40px
}

.error_message{
	width: 80%;
  	margin: 0 auto;
  	max-width: 500px;
  	font-size : 18px
}

.new_acount::before,
.new_acount::after {
    content: "ーーーーーーーーーーーーーーーーーーーー";
    display: block;
    color: #000;
    text-align: center;
    margin-left: 35px;
}

.new_acount::before {
    margin-bottom: 10px;
}

.new_acount::after {
    margin-top: 10px;
}

/*企業登録のcss↓ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  */
.com_reg{
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.com_reg .comreg{
  font-size: 30px;
}

.com_reg input[type="text"] {
  width: 300px;
  height: 40px;
}

.com_reg input[type="email"]{
  width: 400px;
  height: 40px;
}

.com_reg input[type="tel"]{
  width: 400px;
  height: 40px;
}

.com_reg input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.com_reg p.comreg {
    margin-bottom: 5px;
}

.com_reg {
    margin-bottom: 20px;
}

.company_signup{
	width: 80%;
  	margin: 0 auto;
  	max-width: 500px;
  	font-size: 40px;
}

/*企業登録解除のcss↓ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  */
.detele{
	font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.confirmation{
	margin: 0 auto;
	width: 700%;
	max-width: 700px;
}

.confirmation .deregistration {
    font-weight: bold;
  	color: #ff0000;
  	font-size: 28px;
}

.release_detail {
    margin-bottom: 20px;
    margin: 0 auto;
	width: 700%;
	max-width: 700px;
	font-style: normal;
	font-size: 20px;
}

.delete_teble{
    border: 1px solid #333;
    width: 25%;
    margin: auto;
    max-width: 500px;
    margin-left: 35%;
}

.agr_detail {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 18%;
    font-size: 18px;
}

.release_signup{
  width: 80%;
  margin: 0 auto; /* 中央寄せ */
  max-width: 400px;
  padding: 30px;
}

.release_signup .release{
  background-color: red;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.release_signup input[type="submit"] {
  width: 200px;
  height: 40px;
}

/*商品・試供品登録のcss↓ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  */
.product_title {
    font-size: 40px;
    width: 80%;
  	margin: 0 auto;
  	max-width: 700px;
  	margin-bottom: 20px;
}

.item_entry {
    margin-bottom: 20px;
    padding: 0.5em 1em;
}

.product_info {
    margin-bottom: 15px;
    font-family: system-ui;
	width: 100%;
  	margin: 0 auto;
  	max-width: 600px;
}

.pro_info{
	margin-bottom: 15px;
    font-family: system-ui;
	width: 100%;
  	margin: 0 auto;
  	max-width: 600px;
}

.product_genre{
	margin-bottom: 15px;
    font-family: system-ui;
	width: 40%;
  	margin: 0 auto;
  	max-width: 600px;
}

.sample_info{
	font-size: 15px;
    width: 80%;
  	margin: 0 auto;
  	max-width: 700px;
  	text-align: right;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="number"] {
	width: 50%;
}

input[type="file"] {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.product_submit{
	width: 100%;
  	margin: 0 auto;
  	max-width: 200px;
}

.product_submit input {
    background-color: #0080ff;
    color: #fff;
    padding: 10px 40px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product_submit input:hover {
    background-color: #ff0000;
}

/*クーポン登録のcss↓ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  */
.coupon_registration .coupon_title{
	width: 100%;
	margin: 0 auto;
	font-size: 40px;
}

.coupon_registration{
    width: 80%;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
	margin: 0 auto; /* 中央寄せ */
  	max-width: 500px;
   }

.coupon_reg {
    margin-bottom: 15px;
    margin: 20 auto;
}

.couponreg {
    font-size: 18px;
}

.coupon_reg input[type="text"]{
	width: 90%;
   	padding: 8px;
   	box-sizing: border-box;
   	margin-bottom: 10px;
}

input[type="number"],
input[type="date"] {
   width: 90%;
   padding: 8px;
   box-sizing: border-box;
   margin-bottom: 10px;
}

.registration_button {
   text-align: center;
}

.register_button {
   background-color: #0080ff;
   color: #fff;
   padding: 10px 20px;
   font-size: 1em;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.register_button:hover {
   background-color: #45a049;
 }

/*お問い合わせのcss↓ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  */
.contact_us{
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.contact_us .inquiry{
  font-size: 25px;
}

.contact_us input[type="text"] {
  width: 300px;
  height: 40px;
}

.contact_us input[type="email"]{
  width: 300px;
  height: 40px;
}

.contact_us input[type="tel"]{
  width: 300px;
  height: 40px;
}

.contact_us .contact_items {
    font-size: 28px;
}

.contact_us select {
    width: 300px;
    height: 40px;
}

/*管理者追加のcss↓ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  */
.admin_title{
  width: 80%;
  margin: 0 auto;
  max-width: 700px;
  font-size: 45px;
}

.admin_email{
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.admin_password{
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.admin_reg_time{
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.contact_us .add{
  font-size: 25px;
}

.admin_email .add{
  font-size: 25px;
}

.admin_password .add{
  font-size: 25px;
}

.admin_reg_time .add{
  font-size: 25px;
}

.admin_email input[type="email"]{
  width: 300px;
  height: 40px;
}

.admin_password input[type="password"]{
  width: 300px;
  height: 40px;
}

.admin_reg_time input[type="month"]{
  width: 300px;
  height: 40px;
}

.to-add{
  width: 80%;
  margin: 0 auto; /* 中央寄せ */
  max-width: 400px;
  padding: 30px;
}

.to-add .add{
  background-color: #0000ff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.to-add input[type="submit"] {
  width: 200px;
  height: 40px;
}